@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.mobile-menu {
  z-index: 1;
  transition: 0.5s;
  margin-top: 30px;
  justify-content: flex-end;
  position: fixed; /* Position fixed to cover the entire screen */
  top: 20; /* Top of the screen */
  left: 0; /* Left of the screen */
  right: 0; /* Right of the screen */
  bottom: 0; /* Bottom of the screen */
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
  padding: 20px; /* Add padding for better readability */
}

#mobile-icon {
  position: absolute;
  right: -25rem;
  top: 2rem; /* Adjust the left position as needed */
}

.fa-xmark {
  position: absolute;
  margin-left: 5%; /* Adjust the left margin as needed */
  left: 20rem; /* Adjust the left position as needed */
}
.mobile-menu.active {
  left: 0;
}
.mobile-menu ul li ul {
  display: none;
}
.mobile-menu ul li:hover ul {
  display: block;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Override default margins and padding for specific containers if needed */
.container {
  margin: 0 auto; /* Center the container */
  padding: 0;
  width: 100%;
  max-width: 1600px;
}
